# Public AEJKY website URL
NEXT_PUBLIC_SITE_URL=https://limousine.a3group.sg

# A3 Finance website and public limousine API
NEXT_PUBLIC_A3_FINANCE_URL=https://finance.a3group.sg
A3_FINANCE_API_URL=https://finance.a3group.sg/api/public/limousine
